header {
	background: red;
}

header h1 {
	margin: 0;
}

aside {
	background: green;
}

main {
	background: pink;
}

footer {
	background: yellow;
}

/* for flex box */
.container {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

header, footer {
	flex-basis: 100%;
}

aside {
	flex-basis: 200px;
}

main {
	flex: 1;
}